<!DOCTYPE html>
<html class="no-js" lang="en">
 {% block head %}
<head>
   

<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Home || Fashion Factory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		<!-- Google Font -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500.00,700,300' rel='stylesheet' type='text/css'>
		
		 

{% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
    
</body>
</html>